.login_form{
    

    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 425px;
    margin-right: auto;
    margin-left: auto;

    gap: 2rem;
    
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;

}


.login_pass,
.login_user{
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}

.login_button{
   padding: 0.5rem 2rem 0.5rem;
   border-radius: 0.4rem;
    border: 1px solid  rgba(0, 0, 0, 0.3)
}

